body  {   
    background-color: white;
    margin: 30px;
    padding: 50px;

}


.container {
    display: flex;
    flex-wrap: row;
    justify-content: space-between;

}
#nav_bar_filter{   
    background-color: white;
    border-radius: 100%;
}

*span  {
    background-color: white;
    font-size: smaller;
    align-content: center;
    justify-content: space;
    position: sticky;
    top: 0;
    z-index: 1;
}
tr{
    display: flex;
    justify-content: space-evenly;
}
td{
    padding: 15px;
    margin-left: 20px;
}
.card{
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}
.card img{
    width: 170px;
    border-radius: 5%;
}